body {
	font-family: 'Anton', sans-serif;
	overflow: hidden;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after  {box-sizing: inherit;}

.container {
  display: flex;
  flex-direction: column;
  height:100vh;
  margin: 0;
}

@media only screen and (min-width: 992px) {
.container {
	display: grid;
	grid-template-columns: 150px 1fr;
        grid-template-rows: auto 1fr;
	}
	
header {
	grid-column: span 3;
	}
	
nav {
	flex-direction: column;
	}
}

header {
	 text-align: center;
	 background: #1a1a1a;
	 padding: 20px;
}

nav {
    display: flex;
    background: linear-gradient(135deg, #F3904F, #3B4371);
    justify-content: space-around;
    overflow: scroll;
   
}
main {
    background: white;
    flex: 1;
    overflow: scroll;
}

h1, h6 {
/* 	font-weight: strong; */
	background: -webkit-linear-gradient(35deg, #F3904F, #3B4371);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

h1 {
  margin: 0px;
}

h6 {
  margin: 0px;
  padding-top: 2px;
}

nav a {
  flex: 0 1 100px;
  min-height: 60px;
  overflow: hidden;
}

.tablink {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
/*   padding: 14px 16px; */
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  text-align: center;
}

.tablink:hover {
  background-color: #e79090;
}

.break {
	margin-top: 40px;
	width:  100px;
	height: 2px;
	background: #000;
}

span.quote {
  font-style: italic;
  font-weight: 200;
  font-size: 1.25rem;
}

/* a {
  padding: 15px;
  margin: 7.5px;
} */

@media only screen and (min-width: 992px) {
.section {
	display: flex;
}

.section .main {
	flex: 1;
/* 	padding: 20px; */
	overflow: hidden;
}

.section .complimentary {
	flex: 0 0 400px;
 }
}

.section .main {
	padding: 20px;
}

.section .complimentary {
	background-color: lightgrey;
	padding: 20px;
}


.highlight {
	height: 100px;
	width: 100px;
	border-radius: 50%;
	display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
	position: relative;
}


/* .highlight:hover {
  background-color: #ccad00;
} */

.highlight::before, .highlight::after {
    box-sizing: inherit;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.highlight::before {
	border: 2px solid transparent;
}

.highlight::after {
	border: 0px solid transparent;
}

.highlight:hover::before {
    border-top-color: white; 
    border-right-color: white;
    border-bottom-color: white;

    transition:
    border-top-color 0.15s linear, 
    border-right-color 0.15s linear 0.10s,
    border-bottom-color 0.15s linear 0.20s;
  }

.highlight:hover::after {
    border-top: 2px solid white; 
    border-left-width: 2px; 
    border-right-width: 2px; 
    transform: rotate(270deg); 

    transition:
    transform 0.4s linear 0s,
    border-left-width 0s linear 0.35s;
  }

.top {
  position: relative;
  z-index: 10;
}

.red {
  border-bottom: 5px solid #F3904F;
}

.green {
  border-bottom: 5px solid #3B4371;
}

.blue {
  border-bottom: 5px solid skyblue;
}

 .float {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
  }

#fcc {
  border-radius: 50%;
}

/*carousel code begins */

.slider {
  width: 80%;
  height: 400px;
  overflow: hidden;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: relative; 
  margin: 0 auto; 
  background-color: #1a1a1a;
	
}

.slide>img {
  float: left;
  width: 10%;
  height: 400px;
  object-fit: contain;

}

.holder {
  width: 1000%;
}

.slider>a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

.slider>a:hover {
    background-color: #ddd;
    color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  position: absolute;
	top: 50%;
	z-index: 10;
	left: 5%;
	opacity: 0.5;
}

.next {
  background-color: #f1f1f1;
  color: black;
  position: absolute;
	top: 50%;
	z-index: 10;
	right: 5%;
	opacity: 0.5;
}

.round {
    border-radius: 50%;
}

.buttonContainer{
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

 .slider>.hide {
  display: none;
 }


#playBtn, #pauseBtn {
  background-color: none;
  color: black;
  border: none;
  padding: 5px;
  outline: none;
  font-size: 20px;
  margin: 5px;
}

/*carousel code ends */

.profilepic {
	text-align: center;
	margin-top: 10px;
}

.profilepic>img {
	border-radius: 10px;
	max-width: 100%;
	object-fit: contain;
}

label {
    display: block;
    box-sizing: border-box;
    width: 0;
    height: 37px;
    border-color: transparent transparent transparent #1a1a1a;
    cursor: pointer;
    border-style: double;
    border-width: 0px 0 0px 30px;
    margin: 0 auto;
  }

  #playpause {
    position: absolute;
    display: none;
}

    #playpause:checked + label {
      border-style: solid;
      border-width: 18.5px 0 18.5px 30px;
    }

 @media (max-width: 768px) {
	header {
	font-size: 1em;
	padding: 4px 0;
	}	
	 
	nav a {
	flex: 1;
	 }
}

 @media (max-height: 400px) {
  header{
    display: none;
  }

  nav {
    justify-content: flex-start;
  }

  .container {
    grid-template-rows: 1fr;
  }
 }
