body {
	font-family: raleway;
	text-transform: uppercase;
}

* {box-sizing: border-box}

.container {
  display: flex;
  flex-direction: column;
  min-height:100vh;
  margin: 0;
}

@media screen and (min-width: 768px) {
.container {
	display: grid;
	grid-template-columns: 200px 1fr;
        grid-template-rows: auto 5fr 1fr;
	}
	
header {
	grid-column: span 3;
	}
	
footer {
	grid-column: span 3;
       }
}

header {
         background: #1a1a1a;
	 text-align: center;
	 border-bottom: 2px solid white;
}

aside {
    background: #ccad00;
    padding: 10px 10px;
    color: white;
   
}
main {
    background: gray;
    display: flex;
    flex: 1;
    padding: 10px 10px;
    color: white;
}

footer {
    background: #1a1a1a;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-top: 2px solid white;
    flex-wrap: wrap;
}

h1 {
	font-weight: strong;
	color: #ccad00;
}
